attrs
Automat
certifi
chardet
constantly
cycler
decorator
hidapi
hyperlink
idna
incremental
ipython-genutils
jsonschema
jupyter-core
keyboard
kiwisolver
matplotlib
mock
nbformat
numpy
olefile
opencv-contrib-python==4.2.0.32
pbr
pi-ina219
picamera
pip
pkg-resources
plotly
psycopg2
PyHamcrest
pylibdmtx
pymongo
pyparsing
pyrsistent
pyserial
python-dateutil
pytz
pyzbar
qrtools
requests
retrying
RPi.GPIO
setuptools
SimpleWebSocketServer
six
smbus2
spidev
traitlets
Twisted
urllib3
yoctopuce
zope.interface
Pillow